			<section id="popular-posts" class="light-bg">
				<div class="container inner-top-md">
					<div class="row">
						<div class="col-sm-12">
							<div id="accordion-popular-posts" class="panel-group">
								<div class="panel panel-default">			  
									
									<div class="panel-heading">
										<h4 class="panel-title">
											<a class="panel-toggle collapsed" data-toggle="collapse" data-parent="#accordion-popular-posts" href="#content-popular-posts">
												<span>Popular posts</span>
											</a>
										</h4>
									</div><!-- /.panel-heading -->
									
									<div id="content-popular-posts" class="panel-collapse collapse">
										<div class="panel-body">
											<div id="owl-popular-posts" class="owl-carousel owl-item-gap-sm">
												
												<div class="item">
													<a href="blog-post.html">
														<figure>
															<figcaption class="text-overlay">
																<div class="info">
																	<h4>Vintage Bicycles</h4>
																	<p>Interactive</p>
																</div><!-- /.info -->
															</figcaption>
															<img src="assets/images/art/work03.jpg" alt="">
														</figure>
													</a>
												</div><!-- /.item -->
												
												<div class="item">
													<a href="blog-post.html">
														<figure>
															<figcaption class="text-overlay">
																<div class="info">
																	<h4>Simpli Nota</h4>
																	<p>Identity</p>
																</div><!-- /.info -->
															</figcaption>
															<img src="assets/images/art/work04.jpg" alt="">
														</figure>
													</a>
												</div><!-- /.item -->
												
												<div class="item">
													<a href="blog-post.html">
														<figure>
															<figcaption class="text-overlay">
																<div class="info">
																	<h4>Vinyl Records</h4>
																	<p>Identity</p>
																</div><!-- /.info -->
															</figcaption>
															<img src="assets/images/art/work07.jpg" alt="">
														</figure>
													</a>
												</div><!-- /.item -->
												
												<div class="item">
													<a href="blog-post.html">
														<figure>
															<figcaption class="text-overlay">
																<div class="info">
																	<h4>Astor & Yancy</h4>
																	<p>Identity</p>
																</div><!-- /.info -->
															</figcaption>
															<img src="assets/images/art/work09.jpg" alt="">
														</figure>
													</a>
												</div><!-- /.item -->
												
												<div class="item">
													<a href="blog-post.html">
														<figure>
															<figcaption class="text-overlay">
																<div class="info">
																	<h4>Signwall</h4>
																	<p>Identity</p>
																</div><!-- /.info -->
															</figcaption>
															<img src="assets/images/art/work16.jpg" alt="">
														</figure>
													</a>
												</div><!-- /.item -->
												
												<div class="item">
													<a href="blog-post.html">
														<figure>
															<figcaption class="text-overlay">
																<div class="info">
																	<h4>Tri Fold Brochure</h4>
																	<p>Print</p>
																</div><!-- /.info -->
															</figcaption>
															<img src="assets/images/art/work10.jpg" alt="">
														</figure>
													</a>
												</div><!-- /.item -->
												
												<div class="item">
													<a href="blog-post.html">
														<figure>
															<figcaption class="text-overlay">
																<div class="info">
																	<h4>Embroidered</h4>
																	<p>Identity</p>
																</div><!-- /.info -->
															</figcaption>
															<img src="assets/images/art/work05a.jpg" alt="">
														</figure>
													</a>
												</div><!-- /.item -->
												
												<div class="item">
													<a href="blog-post.html">
														<figure>
															<figcaption class="text-overlay">
																<div class="info">
																	<h4>El Corcho</h4>
																	<p>Identity</p>
																</div><!-- /.info -->
															</figcaption>
															<img src="assets/images/art/work12.jpg" alt="">
														</figure>
													</a>
												</div><!-- /.item -->
												
											</div><!-- /.owl-carousel -->
										</div><!-- /.panel-body -->
									</div><!-- /.content -->
									
								</div><!-- /.panel -->
							</div><!-- /.panel-group -->
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.container -->
			</section>