			<section id="blog" class="light-bg">
				<div class="container inner inner-bottom inner-bottom-sm">
					<div class="row">
						<div class="col-md-8 col-sm-9 center-block text-center">
							<header>
								<h1>Recent News</h1>
							</header>
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.container -->

				<div class="container inner-top-sm inner-top">
					
					<div class="row inner-bottom-xs">
						<div class="col-sm-12">	
							<ul class="format-filter text-center">
								<li><a class="active" href="#" data-filter="*" title="All" data-rel="tooltip" data-placement="top"><i class="icon-th"></i></a></li>
								<li><a href="#" data-filter=".format-blog" title="Blog Posts" data-rel="tooltip" data-placement="top"><i class="icon-edit"></i></a></li>
								<li><a href="#" data-filter=".format-tech" title="Engineering" data-rel="tooltip" data-placement="top"><i class="icon-tools"></i></a></li>
								<li><a href="#" data-filter=".format-social" title="Social Media" data-rel="tooltip" data-placement="top"><i class="icon-quote"></i></a></li>
								<li><a href="#" data-filter=".format-link" title="Links" data-rel="tooltip" data-placement="top"><i class="icon-link"></i></a></li>
							</ul><!-- /.format-filter -->
						</div><!-- /.col -->
					</div><!-- /.row -->
					
					<div class="row">
						<div class="col-sm-12">
							
							<div class="grid-blog col-3 no-sidebar">
								<div class="posts">

								{% for item in collections.news %}
									{% if (loop.index0 >= 0) and (loop.index0 <= 9) %}
									
									<div class="post format-{{ item.format }}">
										
										<div class="post-content">
											{% if item.images %}
											<div class="owl-news owl-carousel owl-inner-pagination owl-inner-nav post-media">
												
												{% for img in item.images %}
												<div class="item">
													<figure>
														<img src="/assets/images/news/{{img.src}}" alt="">
													</figure>
												</div><!-- /.item -->
												{% endfor %}
												
											</div><!-- /.owl-carousel -->

											{% endif %}
											{% if item.format == "blog" %}
											<h2 class="post-title">
												<a href="/news/{{item.slug}}.html">{{ item.title }}</a>
											</h2>
											{% else %}
												{% if item.link %}
												<h2 class="post-title">
													<a href="{{item.link}}">{{ item.title }}</a>
												</h2>
												{% endif %}
											{% endif %}

											<ul class="meta">
												<li class="date">{{ moment(item.date).format('MMM')}} {{ moment(item.date).format('DD')}}, {{ moment(item.date).format('YYYY')}}</li>
												{% if item.tags %}<li class="categories">{% for tag in item.tags %}{{ tag }}{% endfor %}{% endif %}</li>
												{% if item.link %}<li class="link"><a href="{{ item.link }}">{{ item.link|truncate(40) }}</a></li>{% endif %}
											</ul><!-- /.meta -->
											
											<p>{{ item.less }}</p>
											
											{% if item.format == "blog" %}
											<a href="/news/{{item.slug}}.html" class="btn">Read more</a>
											{% else %}
												{% if item.link %}
												<a href="{{item.link}}" class="btn">Read more</a>
												{% endif %}
											{% endif %}
																																	
										</div><!-- /.post-content --> 
										
									</div><!-- /.post -->
									{% endif %}	
								{% endfor %}								
							
								</div><!-- /.posts -->
							</div><!-- /.grid-blog -->
							
							
						</div><!-- /.col -->
						<a href="/news-2.html" class="btn btn-large">See Older News</a>
					</div><!-- /.row -->
					
				</div><!-- /.container -->
			</section>
						