			<section id="partners">
				<div class="container inner">
					
					<div class="row">
						<div class="col-md-8 col-sm-9 center-block text-center">
							<header>
								<h1>Partners</h1>
								<p></p>
							</header>
						</div><!-- /.col -->
					</div><!-- /.row -->
					
					<div class="row">
						<div class="col-sm-12 inner-top-md">
							<div id="owl-videos" class="owl-carousel owl-outer-nav owl-ui-md owl-item-gap">
							{% for key, partner in partners %}

								<div class="item">
									<figure>
									
										<div class="icon-overlay icn-link">
											<a href="{{ partner.link }}"><img src="/assets/images/partners/{{key}}.jpg" alt="{{ partner.name }}"></a>
										</div><!-- /.icon-overlay -->
										
										<figcaption class="">
											<div class="info">
												<h4><a href="{{ partner.link }}">{{ partner.name }}</a></h4>
											</div><!-- /.info -->
										</figcaption>
										
									</figure>
								</div><!-- /.item -->
							{% endfor %}

							</div><!-- /.owl-carousel -->
						</div><!-- /.col -->
					</div><!-- /.row -->
					
				</div><!-- /.container -->
			</section>
			