		<header>
			<div class="navbar">
				<div class="navbar-header">
					<div class="container">
						<ul class="info pull-left">
							<li><a href="mailto:{{site.contact.email}}"><i class="icon-mail-1 contact"></i> {{site.contact.email}} </a></li>
						</ul>
						<ul class="social pull-right">
							<li><a href="{{ social.facebook}}"><i class="icon-s-facebook"></i></a></li>
							<li><a href="{{ social.gplus}}"><i class="icon-s-gplus"></i></a></li>
							<li><a href="{{ social.twitter}}"><i class="icon-s-twitter"></i></a></li>
							<li><a href="{{ social.github}}"><i class="icon-s-github"></i></a></li>
							<li><a href="{{ social.linkedin}}"><i class="icon-s-linkedin"></i></a></li>
						</ul>
						<a class="navbar-brand" href="index.html"><img src="/assets/images/logo.svg" class="logo" alt=""></a>
						<a class="btn responsive-menu pull-right" data-toggle="collapse" data-target=".navbar-collapse"><i class='icon-menu-1'></i></a>
					</div>
				</div>
				<div class="yamm">
					<div class="navbar-collapse collapse">
						<div class="container">
							<a class="navbar-brand" href="/index.html"><img src="/assets/images/logo.svg" class="logo" alt=""></a>
							<ul class="nav navbar-nav pull-right">
								<li class="dropdown">
									<a href="/" class="">Home</a>
								</li>
								<li class="dropdown">
									<a href="/#about" class="">About</a>
								</li>
								<li class="dropdown">
									<a href="/#work" class="">Work</a>
								</li>
								<li class="dropdown">
									<a href="/#team" class="">Team</a>
								</li>
								<li class="dropdown">
									<a href="/news.html" class="">News</a>
								</li>
								<!-- <li class="dropdown pull-right searchbox">
									<a href="#" class="dropdown-toggle js-activated"><i class="icon-search"></i></a>
									<div class="dropdown-menu">
										<form id="search" class="navbar-form search" role="search">
											<input type="search" class="form-control" placeholder="Type to search">
											<button type="submit" class="btn btn-default btn-submit icon-right-open"></button>
										</form>
									</div>
								</li>/.searchbox -->
							</ul><!-- /.nav -->
						</div><!-- /.container -->
					</div><!-- /.navbar-collapse -->
				</div><!-- /.yamm -->
			</div><!-- /.navbar -->
		</header>
