			<section id="hero">
				<div id="owl-main" class="owl-carousel height-lg owl-inner-nav owl-ui-lg owl-one-item">
					
					<div class="item" style="background-image: url(assets/images/art/gingko.jpg);">
						<div class="container">
							<div class="caption vertical-center text-center">
								
								<h1 class="fadeInDown-1 light-color">{{ hero.tagline }}</h1>
								<p class="fadeInDown-2 light-color">{{ hero.description }}</p>
								<div class="fadeInDown-3">
									<a href="mailto:contact@iilab.org" class="btn btn-large">{{ hero.button }}</a>
								</div><!-- /.fadeIn -->
								
							</div><!-- /.caption -->
						</div><!-- /.container -->
					</div><!-- /.item -->
				</div><!-- /.owl-carousel -->
			</section>