{% extends "_layouts/base.html" %}
{% block body %}
{% include "_layouts/includes/header.html" %}
		<main>
			<section id="portfolio-post">
				<div class="container inner-top-md">
					<div class="row">
						
						<div class="col-md-8">
							<div id="owl-work" class="owl-carousel owl-inner-pagination owl-inner-nav owl-ui-md owl-one-item">
								
								{% for image in images %}
								<div class="item">
									<figure>
										<img src="/assets/images/projects/{{ image.src }}" alt="{{ image.caption }}">
									</figure>
								</div><!-- /.item -->
								{% endfor %}
							</div><!-- /.owl-carousel -->
							<div class="post-project"><p class="text-small">{{ contents }}</p></div>
						</div><!-- /.col -->

						
						<div class="col-md-4 inner-left-sm">
							<header>
								<h2>{{ title }}</h2>			
								<p class="text-small">{{ intro }}</p>				
								<ul class="item-details inner-top-xs outer-top-xs border-top">
									<li class="date">Date: {{ moment(date).format('YYYY.MM.DD') }} {{ '- ' + moment(end-date).format('YYYY.MM.DD') if end-date else '- Current'}} </li>
									{% if client %}<li class="client">Client: <a href="{{client.link}}">{{ client.name }}</a></li>{% endif %}
									{% if client.logo %}<li class="img"><a href="{{client.link}}"><img class="img-thumbnail" src="/assets/images/projects/{{ client.logo }}" alt="{{ client.name }}"></a></li>{% endif %}
								</ul><!-- /.item-details -->
								{% if links %}
								<ul class="item-details inner-top-xs outer-top-xs border-top">
									<li><h4>Project Links</h4></li>
									{% for link in links %}<li class="url"><a href="{{link.link}}">{{link.title}}</a></li>{% endfor %}
								</ul><!-- /.item-details -->
								{% endif %}
								{% if partners %}
								<ul class="item-details inner-top-xs outer-top-xs border-top">
									<li><h4>Project Partners</h4></li>
									{% for partner in partners %}<li class="url"><a href="{{partner.link}}">{{partner.name}}</a></li>{% endfor %}
								</ul><!-- /.item-details -->
								{% endif %}
								{% if tags %}
								<ul class="item-details inner-top-xs outer-top-xs border-top">
									<li><h4>Keywords</h4></li>
									{% if tags.program %}<li class="categories">Program: {% for tag in tags.program %}<strong>{{ tag }}</strong>{% endfor %}</li>{% endif %}
									{% if tags.tech %}<li class="categories">Tech: {% for tag in tags.tech %}<strong>{{ tag }}</strong>{% endfor %}</li>{% endif %}
									{% if tags.tool %}<li class="categories">Tools: {% for tag in tags.tool %}<strong>{{ tag }}</strong>{% endfor %}</li>{% endif %}
									{% if tags.project %}<li class="categories">Project: {% for tag in tags.project %}<strong>{{ tag }}</strong>{% endfor %}</li>{% endif %}
								</ul><!-- /.item-details -->
								{% endif %}
							</header>
						</div><!-- /.col -->
						
					</div><!-- /.row -->

				</div><!-- /.container -->
				
			</section>

			<section id="get-in-touch">
				<div class="container inner">
					<div class="row">
						<div class="col-md-8 col-sm-9 center-block text-center">
							<header>
								<h1>Find out more</h1>
								<p>Contact us to learn more about iilab's approach<br/> to innovative technology for social impact.</p>
							</header>
							<a href="mailto:contact@iilab.org" class="btn btn-large">Contact Us</a>
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.container -->
			</section>

		</main>
{% include "_layouts/includes/footer.html" %}
{% endblock %}